.body {
  height: 100vh;
  background-color: #e3e2de;
  z-index: 100;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.window {
  width: 100%;
  max-width: 1600px;
  height: 100%;
  background-color: red;
}

@media (min-width: 1441px) {
  .window {
    margin: 0 auto;
    box-shadow: 0 6px 18px black, 0.05;
    z-index: 2;
    position: relative;
    top: 19px;
    width: calc(100% - 38px);
    max-width: 1600px;
    height: calc(100% - 38px);
  }
  .body::after {
    background-color: #04a885;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 127px;
    content: "";
    z-index: 0;
  }
}

.home {
  height: 100%;
}

.side-view {
  width: 30%;
  height: 100%;
  background-color: #f0f2f5;
}

.main-view {
  width: 70%;
  height: 100%;
}

/* Conversations -------------------------------------------------- */

/* Login card -------------------------------------------------- */

.chat-view {
  width: 70%;
  height: 100%;
  background-color: #f0f2f5;
  border-bottom: 7px solid rgb(62, 202, 62);
}

.side-header {
  padding-inline: 1rem;
  padding-block: 0.625rem;
  background-color: #f0f2f5;
  height: 59px;
  position: relative;
}

.my-icon {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: bisque;
  cursor: pointer;
}

.header-icon {
  padding: 0.5rem;
  color: #54656f;
  cursor: pointer;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
  top: 0;
  left: 0;
}

.absolute-options {
  position: absolute;
  top: 100%;
  right: 1rem;
}

.dropdown-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: white;
  color: #54656f;
  border-radius: 5px;
  box-shadow: 0px 0px 15px -5px #000000;
  padding-block: 8px;
}

.dropdown-li {
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  font-weight: 500;
  cursor: pointer;
}

.dropdown-li:hover {
  background-color: #f5f6f6;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.search-container {
  background-color: white;
  padding-inline: 1rem;
  padding-block: 0.625rem;
  height: 49px;
  width: 100%;
}

.search-bar {
  background-color: #f0f2f5;
  border-radius: 8px;
  color: #54656f;
}

.input {
  background-color: #f0f2f5;
  border: none;
  height: 35px;
  width: 100%;
  font-size: 15px;
  border-radius: 8px;
}

.input:focus {
  outline: none;
}

.filter-chats {
  cursor: pointer;
}

.chats-container {
  background-color: #f0f2f5;
  overflow: auto;
  height: calc(100% - 108px);
  width: 100%;
  overflow: auto;
  padding-inline: 1rem;
  padding-block: 0.625rem;
}

.chat-card {
  width: 100%;
  height: 72px;
}

.chats-profile {
  width: 49px;
  height: 49px;
}

.profile-name {
  font-weight: 500;
}

.chat-preview {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 235px;
  font-size: 0.8rem;
}

.chat-date {
  font-size: 0.8rem;
}
.login {
  display: flex;
  width: 100%;
  background-color: #eae7eb;
}

.login__left {
  flex: 0.35;
}

.login__leftHeader {
  height: 20%;
  background-color: rgb(54, 75, 77);
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  box-shadow: 1px 5px 5px lightgray;
}

.login__leftHeader > img {
  margin: auto;
  margin-top: 5px;
  height: 50%;
  width: 50px;
  object-fit: contain;
}

.login__leftHeader > h2 {
  height: 50%;
  font-size: 1.5rem;
  text-align: center;
  color: white;
}

.login__leftContainer {
  height: 80%;
}

.login__leftContainer > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login__signToggle {
  display: flex;
  padding-top: 8%;
  margin-bottom: 6%;
  justify-content: space-evenly;
  cursor: pointer;
}

.login__loginButton {
  font-size: 16px;
  background: linear-gradient(to bottom, #3298dc, #18b);
  border-color: #18b;
  color: #fff;
  border-radius: 6px;
  border: 1px solid;
  cursor: pointer;
  width: 80%;
  height: 40px;
  margin: auto;
}

.login__loginButton:hover {
  background-image: linear-gradient(to bottom, #3d7eaa, rgb(29, 124, 165));
}

.focus {
  background-color: #fff;
}

/* .login__inputContainer {
  display: flex;
  align-items: center;
  background-color: white;
  width: 80%;
  height: 40px;
  border-radius: 30px;
  margin-bottom: 10%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 5px 5px lightgray;
} */

/* .login__inputContainer > .MuiSvgIcon-root {
  color: gray;
  padding: 10px;
} */

.login__inputContainer > input {
  display: flex;
  align-items: center;
  background-color: white;
  width: 80%;
  height: 40px;
  border-radius: 30px;
  margin-bottom: 10%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 5px 5px lightgray;
}

.login__inputContainer:focus {
  outline: none;
}

.login__separator {
  margin: 10px auto auto auto;
  position: relative;
  width: 80%;
  height: 50px;
  font-size: 16px;
  color: #aaa;

  line-height: 50px;
  text-align: center;
}

.login__separator::before,
.login__separator::after {
  position: absolute;
  width: 140px;
  height: 1px;

  top: 25px;

  background-color: #aaa;

  content: "";
}

.login__separator::before {
  left: 0;
}

.login__separator::after {
  right: 0;
}

.login__googleLogin {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 10px auto auto auto;
  position: relative;
}
.login__googleLogin > button {
  font-size: 16px;
  background: linear-gradient(to bottom, #3298dc, #18b);
  border-color: #18b;
  color: #fff;
  border-radius: 6px;
  border: 1px solid;
  cursor: pointer;
  width: 100%;
  height: 40px;
  margin: auto;
}
.google-icon {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 1.5rem;
}

.login__right {
  flex: 0.65;
  display: flex;
  justify-content: center;
  background-color: rgb(248, 249, 251);
  height: 100vh;
}

.login__rightImage {
  object-fit: contain;
  width: 100%;
  height: 70%;
}
/* Login card -------------------------------------------------- */

/* Header -------------------------------------------------- */

.main-header-convo {
  height: 8%;
  background-color: #f0f2f5;
}

.thumbnail-header {
  width: 40px;
  height: 40px;
}

/* Header -------------------------------------------------- */

/* Main -------------------------------------------------- */

.convo-div {
  background-image: url("./components/SingleChat/icons/BG.png");
  background-color: #f4f1eb;
  background-size: fill;
  background-position: center;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.message-container {
  max-width: fit-content;
  word-break: break-word;
  white-space: normal;
  font-size: 0.9rem;
}

.bg-message-whatsapp {
  background-color: #d9fdd3;
}
/* Main -------------------------------------------------- */

/* Footer -------------------------------------------------- */

.convo-footer {
  background-color: #f0f2f5;
  height: 8%;
}

.message-input {
  border-color: transparent !important;
}

.message-input:focus {
  outline: none !important;
  border-color: transparent !important;
  box-shadow: none !important;
}

/* Footer -------------------------------------------------- */

/* Conversations -------------------------------------------------- */
